{% extends 'base.html' %}
{% block content %}

<div class="container-fluid vh-100">

    <div class="row">
        <div class="d-flex justify-content-between">
            <h1 class="display-6">{{ name }}</h1>
            <form method="GET" action="{% url 'chart' %}" class="row g-3">
                <div class="col-auto">
                    {{ ticker_form }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row justify-content-start">
        <div class="p-3 my-3 bg-info bg-opacity-10 border border-info rounded">
            <canvas id="myChart" height="75"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="me-2 col p-0">
            <div class="p-3 bg-warning bg-opacity-10 border border-warning rounded">
                <canvas id="myChart2" ></canvas>
            </div>
        </div>
        <div class="ms-2 col p-0">
            <div class="p-3 bg-danger bg-opacity-10 border border-danger rounded">
                <canvas id="myChart3" ></canvas>
            </div>
        </div>
    </div>

</div>

<!--CandleStick-->
<script>
    Chart.defaults.plugins.legend.display = false;
    (async function() {
    const response = await fetch("{% url 'send_data' %}");
    const datapoints = await response.json();

    // setup
    const data = {
      datasets: [{
        label: "Last 30 days",
        data: datapoints.map(row => ({
                        x:row.Date,
                        o:row.Open,
                        h:row.High,
                        l:row.Low,
                        c:row.Close,
                        s:[row.Open,row.Close]
                    })),
        backgroundColor: (ctx) => {
            const { raw: {o, c} } = ctx;
            let color;
            if(c >= o) {
                color = 'rgba(75, 192, 192, 1)';
            } else {
                color = 'rgba(255, 26, 104, 1)';
            }
            return color;
        },
        borderColor: 'rgba(0, 0, 0, 1)',
        borderWidth: 1,
        borderSkipped: false,
      }]
    };

    // candlestick plugin block
    const candlestick = {
        id: 'candlestick',
        beforeDatasetsDraw(chart, args, pluginOptions) {
            const { ctx, data, chartArea: { top, bottom, left, right, width, height }, scales: {x,y}} = chart;

            ctx.save();
            ctx.lineWidth = 2;
            ctx.strokeStyle = 'rgba(255,255,255,1)';
            
            data.datasets[0].data.forEach((datapoint, index) => {
                ctx.beginPath();
                ctx.moveTo(chart.getDatasetMeta(0).data[index].x, chart.getDatasetMeta(0).data[index].y);
                ctx.lineTo(chart.getDatasetMeta(0).data[index].x, y.getPixelForValue(data.datasets[0].data[index].h));
                ctx.stroke();

                ctx.beginPath();
                ctx.moveTo(chart.getDatasetMeta(0).data[index].x, chart.getDatasetMeta(0).data[index].y);
                ctx.lineTo(chart.getDatasetMeta(0).data[index].x, y.getPixelForValue(data.datasets[0].data[index].l));
                ctx.stroke();
            })
        }
    }

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        parsing: {
            xAxisKey: 'x',
            yAxisKey: 's',
        },
        scales: {
        x: {
            type: 'time',
            time: {
                unit: 'week',
            },
            min: new Date("2023-01-01"),
            max: new Date("2023-07-01")
            },
        y: {
            beginAtZero: false,
          }
        }
      },
      plugins: [candlestick]
    };
    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
})();
</script>

<!--LinePlot-->
<script>
    (async function() {
    const response = await fetch("{% url 'send_data' %}");
    const datapoints = await response.json();

    // data
    const data2 = {
        labels: datapoints.map(row => (row.Date)),
        datasets: [
            {
            data: datapoints.map(row => (row.Seasonal)),
            label: 'Seasonal',
            borderColor: 'rgb(75, 192, 192)',
            pointRadius: 0
            },
        ]
        };

    // config
    const config2 = {
        type: 'line',
        data: data2,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
            },
            scales: {
                x: {
                    type:'time',
                    time: {unit:'year'},
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                },
                y: {
                    beginAtZero: false,
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                }
            }, 
            layout: {padding: 2}
        }
    };

     // render init block
    const myChart2 = new Chart(
      document.getElementById('myChart2'),
      config2
    );
})();
</script>

<!--ScatterPlot-->
<script>
    (async function() {
    const response = await fetch("{% url 'send_data' %}");
    const datapoints = await response.json();

    // data
    const data3 = {
        labels: datapoints.map(row => (row.Date)),
        datasets: [
            {
                type: 'line',
                data: datapoints.map(row => (row.Trend)),
                label: 'Trend',
                borderColor: 'rgb(256, 0, 0)',
                pointRadius: 0,
                borderWidth: 1,
            },
            {
                type: 'scatter',
                data: datapoints.map(row => (row.Close)),
                label: 'Close',
                borderColor: 'rgba(256, 92, 92, 0.2)',
                backgroundColor: 'rgba(256, 92, 92, 0.2)'
            },
        ]
        };

    // config
    const config3 = {
        data: data3,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
            },
            scales: {
                x: {
                    type:'time',
                    position: 'bottom',
                    time: {unit:'year'},
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                },
                y: {
                    beginAtZero: false,
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                }
            }, 
            layout: {padding: 2}
        }
    };

     // render init block
    const myChart3 = new Chart(
      document.getElementById('myChart3'),
      config3
    );
})();
</script>

{% endblock content %}