{% extends 'base.html' %}

{% block content %}
<div class="container-fluid vh-100">

    <div class="row">
        <div class="d-flex justify-content-center m-3">
            <form id="predict form" method="GET" action="{% url 'predict' %}" class="row g-2">
                <div class="col-auto">
                    {{ step_form }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Predict</button>
                </div>
            </form>
            <form id="retrain form" action="{% url 'retrain' %}" class="col-auto">
                <button class="btn btn-danger">Update</button>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="p-3 border rounded">
            <canvas id="myChart" height="60"></canvas>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col-3 px-0">
            <div class="my-3 border rounded overflow-y-scroll" style="height: 350px">
                <table class="table">
                    <th>Date</th><th>Close</th>
                    {% for row in pred_data%}
                        <tr>
                            <td>{{row.Date}}</td><td>{{row.Close}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    (async function() {
    const response = await fetch("{% url 'send_info' %}");
    const datainfo = await response.json();
    console.log(datainfo[0].TrainedOn);
    var div1 = document.getElementById("predict form")
    var div2 = document.getElementById("retrain form")
    if (datainfo[0].TrainedOn != datainfo[0].Symbol) {
        div1.style.display = 'none';
    } else {
        div2.style.display = 'none';
    }
    })();
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
    (async function() {
    const response = await fetch("{% url 'send_data' %}");
    const datapoints = await response.json();
    const predictionpoints = [{% for row in pred_data%}{Date:'{{row.Date}}',Close:'{{ row.Close }}'},{% endfor %}];

    const data = [];
    let prev = datapoints[0].Close;
    for (let i = 0; i < (datapoints.length+predictionpoints.length); i++) {
        if (i < datapoints.length) {
            data.push({x: datapoints[i].Date, y: datapoints[i].Close, c:'R'});
        } else {
            data.push({x: predictionpoints[i-datapoints.length].Date, y: predictionpoints[i-datapoints.length].Close, c:'Y'});
        }
    }

    const totalDuration = 10000;
    const delayBetweenPoints = totalDuration / data.length;
    const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(datapoints[0].Close) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;

    // config
    const config = {
        type: 'line',
        data: {
            datasets: [{
            label: 'Original',
            data: data,
            pointRadius: 0,
            segment: {
                borderColor: ((ctx) => {
                    phaseColors = {
                        R: '#e211ed',
                        Y: '#f5ed16',
                    };
                    return phaseColors[ctx.p0.raw.c];
                })
            },
            }]
        },
        options: {
            animation: {
                x: {
                    type: 'number',
                    easing: 'linear',
                    duration: delayBetweenPoints,
                    from: NaN, // the point is initially skipped
                    delay(ctx) {
                    if (ctx.type !== 'data' || ctx.xStarted) {
                        return 0;
                    }
                    ctx.xStarted = true;
                    return ctx.index * delayBetweenPoints;
                    }
                },
                y: {
                    type: 'number',
                    easing: 'linear',
                    duration: delayBetweenPoints,
                    from: previousY,
                    delay(ctx) {
                    if (ctx.type !== 'data' || ctx.yStarted) {
                        return 0;
                    }
                    ctx.yStarted = true;
                    return ctx.index * delayBetweenPoints;
                    }
                }
            },
            scales: {
                x: {
                    type:'time',
                    time: {unit:'month'},
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                },
                y: {
                    beginAtZero: false,
                    grid: {color:'rgba(161,161,161,0.1)'},
                    ticks: {color: 'rgb(255,255,255)'},
                }
            }, 
            layout: {padding: 2}
        }
    };

    // render init block
    const myChart = new Chart(
    document.getElementById('myChart'),
    config
    );
})();
</script>

{% endblock content %}